:root {
    --text-color: #a19d9d;
    --primary-color: #313132;
    --border-color: #dbdbdb;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}